{% extends 'base.html.twig' %}

{% block title %}Administration Techno
{% endblock %}

{% block body %}

	<div>
		<h1>Liste des technos / languages / outils enregistrées</h1>
		<div>
			<a href="{{ path('admin_techno_create') }}">Ajouter</a>
		</div>
	</div>

	{% if technos is null or technos is empty %}
		Aucune techno / language / outil n'est encore renseignée
	{% else %}
		<ul>
			{% for techno in technos %}
				<li>
					<a href="{{ path('admin_techno_show', { 'id': techno.id }) }}">{{ techno.name}}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}

{% endblock %}
