{% extends 'base.html.twig' %}

{% block title %}Administration Techno
{% endblock %}

{% block body %}

	<div class="section__title">
		<h2>Liste des technos / langages / outils enregistrées</h2>
		<div>
			<a type="button" href="{{ path('admin_techno_create') }}">Ajouter</a>
		</div>
	</div>

	{% if technos is null or technos is empty %}
		Aucune techno / langage / outil n'est encore renseignée
	{% else %}
		<ul>
			{% for techno in technos %}
				<li>
					<i class="fa-solid fa-code"></i>
					<a href="{{ path('admin_techno_show', { 'id': techno.id }) }}">{{ techno.name}}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}

{% endblock %}
