{% extends 'base.html.twig' %}

{% block title %}Administration Experiences
{% endblock %}

{% block body %}
	<div class="section__title">
		<h1>Création d'une experience</h1>
	</div>


	{% include "admin/_form/experience.html.twig" %}

{% endblock %}
