{% extends 'base.html.twig' %}

{% block title %}Administration Experiences
{% endblock %}

{% block body %}

	<div>
		<h1>Liste des expériences enregistrées</h1>
		<div>
			<a href="{{ path('admin_experience_create') }}">Ajouter</a>
		</div>
	</div>

	{% if experiences is null or experiences is empty %}
		Aucune experience n'est encore renseignée
	{% else %}
		<ul>
			{% for experience in experiences %}
				<li>
					<a href="{{ path('admin_experience_show', { 'id': experience.id }) }}">{{ experience.title}}
						chez
						{{ experience.society}}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}

{% endblock %}
