{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!
{% endblock %}

{% block body %}
	<h1>Connexion</h1>

	{% if error %}
		{% if error.message == 'The presented password is invalid.' or error.message == 'Bad credentials.' %}
			<div class="alert alert-danger">L'identifiant et/ou le mot de passe est/sont incorrect</div>
		{% else %}
			<div class="alert alert-danger">{{ error.message }}</div>
		{% endif %}


	{% endif %}

	{{ form_start(formView) }}

	{{ form_widget(formView) }}

	<button type="submit" class="btn btn-success">Connexion</button>

	{{ form_end(formView) }}
{% endblock %}
