{% extends 'base.html.twig' %}

{% block title %}Administration Projet
{% endblock %}

{% block body %}

	<div class="section__title">
		<h2>Liste des projets enregistrées</h2>
		<div>
			<a href="{{ path('admin_project_create') }} " type="button">Ajouter</a>
		</div>
	</div>

	{% if projects is null or projects is empty %}
		Aucun projet n'est encore enregistrés
	{% else %}
		<ul>
			{% for project in projects %}
				<li>
					<i class="fa-solid fa-business-time"></i>
					<a href="{{ path('admin_project_show', { 'id': project.id }) }}">{{ project.title}}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}

{% endblock %}
