/***************************************************** MENU ET MENU BURGER *******************************************************/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.nav__link {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.nav__link a {
    padding-top: 1rem;
}

.nav__link i {
    font-size: 4rem;
}

.burger {
    display: none;
}

.burger span:nth-child(1), .burger span:nth-child(3) {
    transition: transform 0.3s ease-out;
}

.burger span:nth-child(1) {
    transform: translateY(8px);
}

.burger span:nth-child(3) {
    transform: translateY(-8px);
}

.burger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
}

.burger.open span:nth-child(2) {
    opacity: 0;
    transform: opacity 0s;
}

.burger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
}

.burger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #1a1a1a;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
}

.open {
    transform: translate(0%);
}

/******************************************************************** GENERAL ***************************************************************/
.containerInfos {
    width: 80%;
    height: 80vh;
    background-color: blueviolet;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.sections {
    display: flex;
    transition: 1s linear;
}

section, .sections {
    width: 100%;
    height: 100%;
}

section {
    flex: 1 0 100%;
}

/************************************************************ NAVIGATION SECTIONS ********************************************************/
#nav-right, #nav-left, #nav-up, #nav-down {
    position: absolute;
    color: white;
    font-size: 2rem;
}

#nav-right, #nav-left {
    top: 50%;
    transform: translateY(-50%);
}

#nav-up, #nav-down {
    right: 50%;
    transform: translateX(-50%);
}

#nav-right {
    right: 20px;
}

#nav-left {
    left: 20px;
}

#nav-up {
    top: 10px;
}

#nav-down {
    bottom: 10px;
}

/************************************************************ SECTION ********************************************************/

.presentation, .technos {
    display: flex;
    height: 100%;
    width: 100%;
}

.presentation {
    justify-content: space-evenly;
    align-items: center;
}

.presentation__photo img {
    border-radius: 50%;
}

.projects {
    position: relative;
}

.projects__container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    transition: 1s linear;
}

.project {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex: 1 0 100%;
}

.project__infos {
    display: flex;
    flex-direction: column;
}

/************************************************************ FOOTER ********************************************************/

footer {
    display: flex;
    flex-direction: column;
}

.footer__contact {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;

}