{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!
{% endblock %}

{% block body %}

	<h1>Hello
		{{ user.firstname }}! ✅</h1>

	<div class="cercle"></div>
	<div class="atome">
		<div class="technos"></div>
		<div class="perso">
			<img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('admin_photo_250x250') }}" alt="">
		</div>
	</div>

</div>{% endblock %}
