<nav class="adminNav">
	<div class="adminNav__title"></div>
	<ul class="adminNav__items">
		<li class="adminNav__item">
			<a href="#" class="adminNav__link">Informations personnelles</a>
		</li>
		<li class="adminNav__item">
			<a href="#" class="adminNav__link">Technologies / Languages</a>
		</li>
		<li class="adminNav__item">
			<a href="#" class="adminNav__link">Expériences</a>
		</li>
		<li class="adminNav__item">
			<a href="#" class="adminNav__link">Projets</a>
		</li>
		<li class="adminNav__item">
			<a href="#" class="adminNav__link">Les Réseaux Sociaux</a>
		</li>
	</ul>
</nav>
