<nav class="nav">
	<div>Nicolas NEGRIER</div>
	<div class="nav__link">
		<a href="#" class="">
			<p>Qui suis-je?</p>
		</a>
		<a href="https://github.com/NicolasNegrier" target="_blank" class="column">
			<p>Technos / Langages / Outils</p>
		</a>
		<a href="mailto:nicolas.negrier@gmail.com" class="column">
			<p>Expériences</p>
		</a>
		<a href="/medias/cv/CV.pdf" download="CV.pdf" class="column">
			<p>Projets</p>
		</a>
		<a href="/medias/cv/CV.pdf" download="CV.pdf" class="column">
			<p>Discutons!</p>
		</a>
	</div>
	<button class="burger" type="button">
		<span></span>
		<span></span>
		<span></span>
	</button>
</nav>
