{% extends 'base.html.twig' %}

{% block title %}Administration Techno
{% endblock %}

{% block body %}
	<h1>Création d'une catégorie pour les technos / languages / outils</h1>

	{% include "admin/_form/technoCat.html.twig" %}

{% endblock %}
