{% extends 'base.html.twig' %}

{% block title %}Administration Reseau
{% endblock %}

{% block body %}

	<div class="section__title">
		<h2>Liste des réseaux enregistrées</h2>
		<div>
			<a href="{{ path('admin_reseau_create') }}" type="button">Ajouter</a>
		</div>
	</div>

	{% if reseaux is null or reseaux is empty %}
		Aucun réseau n'est encore renseigné
	{% else %}
		<ul>
			{% for reseau in reseaux %}
				<li>
					<i class="fa-brands fa-{{ reseau.name}}"></i>
					<a href="{{ path('admin_reseau_show', { 'id': reseau.id }) }}">{{ reseau.name}}</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}

{% endblock %}
